ExerciseTrackerWebAppBackend/data/Activities.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://tempuri.org/ExerciseTracker">
	<xs:element name="Activities">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="Activity">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="TypeId" type="xs:unsignedByte" />
							<xs:element name="Date" type="xs:string" />
							<xs:element name="Duration" type="xs:string" />
							<xs:element name="Distance" type="xs:decimal" />
						</xs:sequence>
						<xs:attribute name="Id" type="xs:unsignedShort" use="required" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>