ExerciseTrackerWebAppBackend/data/Types.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://tempuri.org/ExerciseTracker">
	<xs:element name="Types">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="Type">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Name" type="xs:string" />
						</xs:sequence>
						<xs:attribute name="Id" type="xs:unsignedByte" use="required" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>